.headerSec{
    height:200px;
    width:100%;
    margin:0 auto;
    // background-image: linear-gradient(-21deg, #5c00e6, transparent);
    background: url(../../assets/images/front-view-woman-with-shopping-bag-concept.jpg) no-repeat 0 47%;
    background-size: cover;
    // background-color: #29A0B1;
}

.mat-grid-tile{
    padding-top: 5% !important;
    overflow: unset;
    h3{
        color:#575757;
    }
}
.logo{
    width: 11%;
    margin-top: 8%;
    // margin-right: 70%;
    border-radius: 50%;
    border:10px dashed #FFB24D;
}

::ng-deep .headerLogoSec .mat-grid-tile-content{
    left: -39% !important;
}

.logout{
    margin-left:65%;
    color:#575757;

}

