.loginSection{
    background: url('../../assets/login-bg-1.jpg') no-repeat 0 0;
    .whiteBgSec{
        background-color: white;
        width:60%;
        margin:0 auto;
    }
    .loginLeftSec{
        margin-top: 8.75% !important;
        left: 51px !important;
    }
    .loginRightSec img{
        width: 85%;
        height: 65%;
    }
    .loginCard{
        padding:20% !important;
        top:30px !important;
    }
} 

